/*reset*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.inicio {
  background-image: url(../img/fondoo.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgb(39, 12, 83);
  background-position: right;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

body.contacto, .galeria, .servicios, .catalogo {
  background-image: url(../img/fondoo.jpg);
  background-size: 100% 110%;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: first flex-start;
  padding: 15px;
}
header .navbar-nav .nav-link.active, header .navbar-nav .nav-link.show {
  color: #f700ff;
  font-weight: lighter;
}
header .navbar-nav .nav-link.active:hover, header .navbar-nav .nav-link.show:hover {
  background-color: #fdfbfb;
  border-radius: 3rem;
  transform: none;
  transition: none;
}
header .navbar-nav .nav-link.active div .container-fluid .menu-button span .navbar-toggler-icon, header .navbar-nav .nav-link.active div .container-fluid .menu-button .menu-icon, header .navbar-nav .nav-link.show div .container-fluid .menu-button span .navbar-toggler-icon, header .navbar-nav .nav-link.show div .container-fluid .menu-button .menu-icon {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 2;
  color: #f7f7f7;
  background-color: #f700ff;
  border: 1px solid white;
  border-radius: var(--bs-navbar-toggler-border-radius);
}
header .navbar-nav .nav-link.active div .container-fluid .menu-button span .navbar-toggler-icon:focus, header .navbar-nav .nav-link.active div .container-fluid .menu-button .menu-icon:focus, header .navbar-nav .nav-link.show div .container-fluid .menu-button span .navbar-toggler-icon:focus, header .navbar-nav .nav-link.show div .container-fluid .menu-button .menu-icon:focus {
  box-shadow: #f700ff;
}
header .navbar-nav .nav-link.active div .container-fluid .menu-button div .menu ul li a, header .navbar-nav .nav-link.show div .container-fluid .menu-button div .menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

/*inicio*/
.main-inicio .contenedor-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-inicio .contenedor-inicio .logo {
  width: 300px;
  margin: 80px auto 0;
  align-items: center;
}
.main-inicio .contenedor-inicio .frase {
  width: 300px;
  margin: 60px auto 0;
  overflow: hidden;
  cursor: default;
  color: white;
  font-size: 12px;
  text-align: center;
  align-items: center;
}
.main-inicio .contenedor-inicio .animacion-word {
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.main-inicio .contenedor-inicio .animacion-word .letter {
  transition: 0.4s;
  transform: translateX(0);
  color: rgb(148, 77, 193);
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
.main-inicio .contenedor-inicio .animacion-word .letter:hover {
  transform: translateY(-1rem);
  background: -webkit-linear-gradient(100deg, hsl(292, 93%, 27%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-inicio h1 {
  font-size: 12px;
  padding: 10px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: center;
}
.main-inicio .contenedor-cuadro {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
  margin: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-inicio .contenedor-cuadro .iconos {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 100%;
  border-radius: 6px;
  border: 3px solid #ff0ce3;
  overflow: hidden;
  background-color: transparent;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main-inicio .contenedor-cuadro .iconos img {
  margin: 10px;
  width: 70px;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.main-inicio .contenedor-cuadro .iconos h2 {
  padding: 5px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 12px;
}

/*servicios*/
.main-servicios h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 0px;
  font-size: 36px;*/
}
.main-servicios .contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 3rem;
  padding: 15px;
}
.main-servicios .contenedor-servicios .servicio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 490px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(148, 77, 193);
  box-shadow: 0px 1px 10px rgba(170, 170, 170, 0.2);
  cursor: default;
  transition: all 500ms ease;
}
.main-servicios .contenedor-servicios .servicio:hover {
  box-shadow: 5px 5px 20px rgba(170, 170, 170, 0.6);
  transform: translateY(-2%);
}
.main-servicios .contenedor-servicios .servicio img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto {
  margin-top: 5px;
  padding: 15px;
  text-align: center;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto p {
  line-height: 1.5;
  color: #ffffff;
  padding: 5px;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto h3 {
  font-weight: 400;
  padding: 10px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 4px;
  transition: all 400ms ease;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto a:hover {
  background: rgb(103, 2, 121);
  color: #ffffff;
}

/*contacto*/
.main-contacto h1 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 0px;
  font-size: 36px;*/
}
.main-contacto .contenedor-contacto {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 30px;
}
.main-contacto .contenedor-contacto form {
  padding: 15px;
  background-color: rgba(117, 117, 117, 0.591);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(253, 252, 252, 0.456);
  width: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.main-contacto .contenedor-contacto form .form-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-bottom: 10px;
}
.main-contacto .contenedor-contacto form .form-group .formulario {
  display: flex;
  flex-direction: column;
}
.main-contacto .contenedor-contacto form .form-group .formulario label {
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-bottom: 10px;
}
.main-contacto .contenedor-contacto form label {
  color: white;
}
.main-contacto .contenedor-contacto form input, .main-contacto .contenedor-contacto form textarea {
  padding: 12px 12px;
  background-color: rgb(148, 77, 193);
  border: 0;
  border-radius: 16px;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 13px;
}
.main-contacto .contenedor-contacto form ::placeholder {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.main-contacto .contenedor-contacto form textarea {
  margin-bottom: 20px;
}
.main-contacto .contenedor-contacto form .btn {
  padding: 15px 15px;
  width: 130px;
  align-self: center;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-size: 16px;
  box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
  cursor: pointer;
  background-color: rgb(181, 66, 171);
}

/*catalogo*/
.main-catalogo h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 0px;
  font-size: 36px;*/
}
.main-catalogo .carousel {
  width: 300px;
  height: auto;
  margin: 50px auto 0;
  padding: 15px;
  overflow: hidden;
  justify-items: center;
  flex-direction: column;
}
.main-catalogo .carousel:hover {
  width: 350px;
  height: auto;
}
.main-catalogo .carousel h3 {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 40px 10px;
}

/*galeria*/
.main-galeria h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 10px;
  font-size: 36px;*/
}
.main-galeria .contenedor-grid {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.main-galeria .contenedor-grid .img-box:nth-child(1) {
  grid-row-start: span 2;
}
.main-galeria .contenedor-grid .img-box:nth-child(4) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(6) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(10) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(7) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(2) {
  grid-row-start: span 2;
}
.main-galeria .contenedor-grid .img-box:nth-child(3) {
  grid-row-start: span 2;
}
.main-galeria .contenedor-grid .img-box figure {
  width: 100%;
  height: 100%;
}
.main-galeria .contenedor-grid .img-box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #270c53;
  background-image: linear-gradient(180deg, #270c53 0%, #bb539d 100%);
  padding: 0;
  text-align: center;
  margin-top: auto;
  height: auto;
}
footer .contenedor-footer .titulo-seccion {
  color: rgb(177, 172, 172);
  display: flex;
  justify-content: center;
  font-size: 15px;
}
footer .redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
footer .redes-sociales a i {
  font-size: 30px;
  padding: 0 20px;
  color: rgb(177, 172, 172);
}
footer .redes-sociales a i:hover {
  color: #270c53;
}
footer .contenedor-01 p .final {
  font-size: 25px;
  padding: 0 20px;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  /*index*/
  .main-inicio .contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-inicio .contenedor-inicio .logo {
    width: 400px;
    margin: 90px auto 0;
  }
  .main-inicio .contenedor-inicio .frase {
    width: 600px;
    margin: 60px auto 0;
    overflow: hidden;
    cursor: default;
    color: white;
    font-size: 17px;
    text-align: center;
    align-items: center;
  }
  .main-inicio .contenedor-inicio .animacion-word {
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-inicio .contenedor-inicio .animacion-word .letter {
    transition: 0.4s;
    transform: translateX(0);
    color: rgb(148, 77, 193);
    font-size: 50px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: default;
  }
  .main-inicio .contenedor-inicio .animacion-word .letter:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(100deg, hsl(292, 93%, 27%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main-inicio h1 {
    font-size: 15px;
    padding: 10px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
  }
  .main-inicio .contenedor-cuadro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin: 20px;
    padding: 15px;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .main-inicio .contenedor-cuadro .iconos {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100%;
    border-radius: 6px;
    border: 3px solid #ff0ce3;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
  }
  .main-inicio .contenedor-cuadro .iconos img {
    margin: 10px;
    width: 80px;
    height: 100%;
    object-fit: cover;
  }
  .main-inicio .contenedor-cuadro .iconos h2 {
    padding: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 15px;
  }
  /*servicios*/
  .main-servicios .contenedor-servicios {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    flex-wrap: nowrap;
  }
  .main-servicios .contenedor-servicios .servicio {
    display: flex;
    flex-direction: column;
  }
  .main-servicios .contenedor-servicios .servicio-texto {
    margin-top: auto;
  }
  /*galeria*/
  .main-galeria .contenedor-grid {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(1) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(4) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(6) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(10) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(7) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(2) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(3) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box figure {
    width: 100%;
    height: 100%;
  }
  .main-galeria .contenedor-grid .img-box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*catalogo*/
  .main-catalogo .carousel {
    width: 400px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
  }
  .main-catalogo .carousel:hover {
    width: 450px;
    height: auto;
  }
  /*contacto*/
  .main-contacto .contenedor-contacto {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 40px;
  }
  .main-contacto .contenedor-contacto form {
    padding: 18px;
    background-color: rgba(117, 117, 117, 0.591);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(253, 252, 252, 0.456);
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto form .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin-bottom: 10px;
  }
  .main-contacto .contenedor-contacto form .form-group .formulario {
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto form .form-group .formulario label {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-bottom: 10px;
  }
  .main-contacto .contenedor-contacto form label {
    color: white;
  }
  .main-contacto .contenedor-contacto form input, .main-contacto .contenedor-contacto form textarea {
    padding: 13px 13px;
    background-color: rgb(148, 77, 193);
    border: 0;
    border-radius: 20px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  .main-contacto .contenedor-contacto form ::placeholder {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  .main-contacto .contenedor-contacto form textarea {
    margin-bottom: 25px;
  }
  .main-contacto .contenedor-contacto form .btn {
    padding: 15px 15px;
    width: 150px;
    align-self: center;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
    cursor: pointer;
    background-color: rgb(181, 66, 171);
  }
}
@media screen and (min-width: 1024px) {
  /*index*/
  .main-inicio .contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-inicio .contenedor-inicio .logo {
    width: 500px;
    margin: 100px auto 0;
  }
  .main-inicio .contenedor-inicio .frase {
    width: 800px;
    margin: 80px auto 0;
    overflow: hidden;
    cursor: default;
    color: white;
    font-size: 17px;
    text-align: center;
    align-items: center;
  }
  .main-inicio .contenedor-inicio .animacion-word {
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-inicio .contenedor-inicio .animacion-word .letter {
    transition: 0.4s;
    transform: translateX(0);
    color: rgb(148, 77, 193);
    font-size: 60px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: default;
  }
  .main-inicio .contenedor-inicio .animacion-word .letter:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(100deg, hsl(292, 93%, 27%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main-inicio h1 {
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
  }
  .main-inicio .contenedor-cuadro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 2rem;
    margin: 20px;
    padding: 15px;
  }
  .main-inicio .contenedor-cuadro .iconos {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    border-radius: 6px;
    border: 3px solid #ff0ce3;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
  }
  .main-inicio .contenedor-cuadro .iconos img {
    margin: 10px;
    width: 90px;
    height: 100%;
    object-fit: cover;
  }
  .main-inicio .contenedor-cuadro .iconos h2 {
    padding: 5px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 15px;
  }
  /*servicios*/
  .main-servicios .contenedor-servicios {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    flex-wrap: nowrap;
  }
  /*galeria*/
  .main-galeria .contenedor-grid {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(1) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(4) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(6) {
    grid-column-start: span 3;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(10) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(7) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(2) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(3) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box figure {
    width: 100%;
    height: 100%;
  }
  .main-galeria .contenedor-grid .img-box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*catalogo*/
  .main-catalogo .carousel {
    width: 500px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
  }
  .main-catalogo .carousel:hover {
    width: 550px;
    height: auto;
  }
  /*contacto*/
  .main-contacto .contenedor-contacto {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 40px;
  }
  .main-contacto .contenedor-contacto form {
    padding: 20px;
    background-color: rgba(117, 117, 117, 0.591);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(253, 252, 252, 0.456);
    width: 1000px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto form .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 15px;
  }
  .main-contacto .contenedor-contacto form .form-group .formulario {
    display: flex;
    flex-direction: column;
  }
  .main-contacto .contenedor-contacto form .form-group .formulario label {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-bottom: 10px;
  }
  .main-contacto .contenedor-contacto form label {
    color: white;
  }
  .main-contacto .contenedor-contacto form input, .main-contacto .contenedor-contacto form textarea {
    padding: 15px 15px;
    background-color: rgb(148, 77, 193);
    border: 0;
    border-radius: 20px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }
  .main-contacto .contenedor-contacto form ::placeholder {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  .main-contacto .contenedor-contacto form textarea {
    margin-bottom: 30px;
  }
  .main-contacto .contenedor-contacto form .btn {
    padding: 17px 15px;
    width: 180px;
    align-self: center;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
    cursor: pointer;
    background-color: rgb(181, 66, 171);
  }
}

/*# sourceMappingURL=main.css.map */
