/*reset*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.inicio {
  background-image: url(../img/fondo-de-pantalla.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgb(39, 12, 83);
  background-position: right;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

body.contacto, .galeria, .servicios, .catalogo {
  background-image: url(../img/fondoo.jpg);
  background-size: 100% 110%;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.main-contacto .contenedor-contacto .contacto-wrapper .contact-form h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

/*header*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: first flex-start;
  padding: 15px;
}
header .navbar-nav .nav-link.active, header .navbar-nav .nav-link.show {
  color: #f700ff;
  font-weight: bold;
}
header .navbar-nav .nav-link.active:hover, header .navbar-nav .nav-link.show:hover {
  background-color: #414040;
  border-radius: 20px 20px 20px 20px;
}
header .navbar-nav .nav-link.active div .container-fluid .menu-button span .navbar-toggler-icon, header .navbar-nav .nav-link.active div .container-fluid .menu-button .menu-icon, header .navbar-nav .nav-link.show div .container-fluid .menu-button span .navbar-toggler-icon, header .navbar-nav .nav-link.show div .container-fluid .menu-button .menu-icon {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: #ffffff;
  background-color: #f700ff;
  border: 1px solid white;
  border-radius: var(--bs-navbar-toggler-border-radius);
}
header .navbar-nav .nav-link.active div .container-fluid .menu-button span .navbar-toggler-icon:focus, header .navbar-nav .nav-link.active div .container-fluid .menu-button .menu-icon:focus, header .navbar-nav .nav-link.show div .container-fluid .menu-button span .navbar-toggler-icon:focus, header .navbar-nav .nav-link.show div .container-fluid .menu-button .menu-icon:focus {
  box-shadow: #f700ff;
}
header .navbar-nav .nav-link.active div .container-fluid .menu-button div .menu ul li a, header .navbar-nav .nav-link.show div .container-fluid .menu-button div .menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

/*inicio*/
.main-inicio .contenedor-inicio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-inicio .contenedor-inicio .logo {
  max-width: 200px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-top: 30px;
}
.main-inicio .contenedor-inicio .frase {
  width: 350px;
  height: 160px;
  overflow: hidden;
  cursor: default;
  color: white;
  font-size: 17px;
  margin-right: 15px;
  margin-top: 30px;
  text-align: center;
}
.main-inicio .contenedor-inicio .bienvenida p {
  color: rgb(148, 77, 193);
  font-size: 35px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: default;
  margin-right: 70px;
  margin-top: 30px;
}

/*servicios*/
.main-servicios h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 0px;
  font-size: 36px;*/
}
.main-servicios .contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 2rem;
  margin: 3rem 3rem 3rem 3rem;
  padding: 10px;
}
.main-servicios .contenedor-servicios .servicio {
  width: 100%;
  height: 490px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(148, 77, 193);
  box-shadow: 0px 1px 10px rgba(170, 170, 170, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.main-servicios .contenedor-servicios .servicio:hover {
  box-shadow: 5px 5px 20px rgba(170, 170, 170, 0.6);
  transform: translateY(-2%);
}
.main-servicios .contenedor-servicios .servicio img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto {
  padding: 15px;
  text-align: center;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto p {
  line-height: 1.5;
  color: #ffffff;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-radius: 4px;
  transition: all 400ms ease;
}
.main-servicios .contenedor-servicios .servicio .servicio-texto a:hover {
  background: rgb(103, 2, 121);
  color: #ffffff;
}

/*contacto*/
.main-contacto h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 0px;
  font-size: 36px;*/
}
.main-contacto .contenedor-contacto {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  color: white;
}
.main-contacto .contenedor-contacto .contacto-wrapper {
  box-shadow: 0 0 20px 5px rgba(161, 160, 160, 0.3);
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form {
  background: #353535;
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario {
  margin: 0;
  padding: 2em;
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario .msj, .main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario .boton {
  grid-column: 1/2;
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario input,
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario textarea,
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #8f29fc;
  outline: 0;
  color: white;
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario button {
  background: rgb(148, 77, 193);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario button:hover, .main-contacto .contenedor-contacto .contacto-wrapper .contact-form form .formulario button:focus {
  background: #8f29fc;
  color: #000000;
  transition: background-color 1s ease-out;
  outline: 0;
}
.main-contacto .contenedor-contacto .contacto-info {
  background: rgb(148, 77, 193);
}
.main-contacto .contenedor-contacto .contacto-info h4 {
  text-align: center;
  margin: 5px;
  padding: 10px;
}
.main-contacto .contenedor-contacto .contacto-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  list-style: none;
  padding: 10px;
}
.main-contacto .contenedor-contacto .contacto-info ul li {
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0.2em;
  line-height: 30px;
  letter-spacing: 2px;
}
.main-contacto .contenedor-contacto .contacto-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/*catalogo*/
.main-catalogo h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 0px;
  font-size: 36px;*/
}
.main-catalogo .carousel {
  width: 300px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
  justify-items: center;
  flex-direction: column;
}
.main-catalogo .carousel:hover {
  width: 350px;
  height: auto;
}
.main-catalogo .carousel h4 {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 40px 10px;
}

/*galeria*/
.main-galeria h2 {
  color: rgb(148, 77, 193);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 40px 10px;
  font-size: 36px;
  /*color: $color-principal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin:40px 10px;
  font-size: 36px;*/
}
.main-galeria .contenedor-grid {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.main-galeria .contenedor-grid .img-box:nth-child(1) {
  grid-row-start: span 2;
}
.main-galeria .contenedor-grid .img-box:nth-child(4) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(6) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(10) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(7) {
  grid-column-start: span 1;
}
.main-galeria .contenedor-grid .img-box:nth-child(2) {
  grid-row-start: span 2;
}
.main-galeria .contenedor-grid .img-box:nth-child(3) {
  grid-row-start: span 2;
}
.main-galeria .contenedor-grid .img-box figure {
  width: 100%;
  height: 100%;
}
.main-galeria .contenedor-grid .img-box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #8f29fc;
  padding: 0;
  text-align: center;
  margin-top: auto;
  height: 100px;
}
footer .contenedor-footer .titulo-seccion {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
footer .contenedor-footer .redes-sociales {
  display: flex;
  justify-content: center;
}
footer .contenedor-footer .redes-sociales a i {
  font-size: 25px;
  padding: 0 20px;
}
footer .contenedor-footer .contenedor-01 .copy {
  font-size: 25px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  body.inicio {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgb(39, 12, 83);
    background-position: center;
    justify-content: center;
    align-content: center;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
  }
  .main-inicio .contenedor-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  /*index*/
  .main.inicio {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 50px;
    justify-content: end;
  }
  .main.inicio .logo {
    max-width: 250px;
    margin-bottom: 20px;
    margin-right: 70px;
    margin-top: 30px;
  }
  .main.inicio .frase {
    width: 350px;
    height: 160px;
    overflow: hidden;
    cursor: default;
    color: white;
    font-size: 17px;
    margin-right: 15px;
    margin-top: 30px;
    text-align: center;
  }
  .main.inicio .bienvenida p {
    color: rgb(255, 6, 193);
    font-size: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: default;
    margin-right: 70px;
    margin-top: 30px;
  }
  /*servicios*/
  .main-servicios .contenedor-servicios {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    flex-wrap: nowrap;
  }
  /*galeria*/
  .main-galeria .contenedor-grid {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(1) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(4) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(6) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(10) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(7) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(2) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(3) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box figure {
    width: 100%;
    height: 100%;
  }
  .main-galeria .contenedor-grid .img-box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*catalogo*/
  .main-catalogo .carousel {
    width: 400px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
  }
  .main-catalogo .carousel:hover {
    width: 450px;
    height: auto;
  }
  /*contacto*/
  .main-contacto .contenedor-contacto .contacto-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  /*index*/
  .main.inicio .contenedor-inicio {
    display: flex;
    flex-direction: column;
    justify-items: end;
    align-items: end;
    padding: 50px;
  }
  /*servicios*/
  .main-servicios .contenedor-servicios {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    flex-wrap: nowrap;
  }
  /*galeria*/
  .main-galeria .contenedor-grid {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(1) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(4) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(6) {
    grid-column-start: span 3;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(10) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(7) {
    grid-column-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(2) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box:nth-child(3) {
    grid-row-start: span 2;
  }
  .main-galeria .contenedor-grid .img-box figure {
    width: 100%;
    height: 100%;
  }
  .main-galeria .contenedor-grid .img-box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*catalogo*/
  .main-catalogo .carousel {
    width: 500px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
  }
  .main-catalogo .carousel:hover {
    width: 550px;
    height: auto;
  }
  /*contacto*/
  .main-contacto .contenedor-contacto .contacto-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
