/*inicio*/
.main-inicio{
    .contenedor-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo{
            width: 300px;
            margin: 80px auto 0;
            align-items: center;
        }
        .frase{
            width: 300px;
            margin: 60px auto 0;
            overflow: hidden;
            cursor: default;
            color: white;
            font-size:12px;
            text-align: center;
            align-items: center;
        }

        .animacion-word{
            margin: 40px auto 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .letter{
                transition: 0.4s;
                transform: translateX(0);
                color: $color-principal;
                font-size: 30px;
                font-weight: bold;
                font-family: $letra-general;
                cursor: default;
                &:hover{
                    transform: translateY(-1rem);
                    background: -webkit-linear-gradient(100deg, hsl(292, 93%, 27%), hsl(0, 0%, 100%));
                    -webkit-background-clip: text ;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        /*
        .bienvenida{
            h1{
                color: $color-principal;
                font-size: 30px;
                font-weight: bold;
                font-family: $letra-general;
                cursor: default;
                margin: 40px auto 0;
            }
        }*/
    }
}




