/*contacto*/
.main-contacto{
    h1{
        @include titulo(center, uppercase, none, 40px 10px, 36px);
        /*color: $color-principal;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin:40px 0px;
        font-size: 36px;*/
    }
    .contenedor-contacto{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        form{
            padding: 20px;
            background-color: rgb(54, 53, 53);
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(253, 252, 252, 0.2);
            width: 900px;
            text-align: left;
            display: flex;
            flex-direction: column;
            .form-group{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 30px;
                margin-bottom: 10px;
                .formulario{
                    display:flex;
                    flex-direction: column;
                    label{
                        color: rgb(255, 255, 255);
                        font-size: 15px;
                        margin-bottom: 10px
                    }
                }
            }
            label{
                color: white;
            }
            input, textarea{
                padding:15px 15px ;
                background-color: rgb(245, 151, 234);
                border: 0;
                border-radius: 20px;
                outline: none;
                color: rgb(0, 0, 0);
                font-size: 16px;
            }
            &::placeholder{
                color: rgb(0, 0, 0);
                font-size: 16px;
            }
            textarea{
                margin-bottom: 30px;
            }
            
            .btn{
                padding: 17px 15px;
                width: 180px;
                align-self: center;
                text-transform: capitalize;
                color: rgb(0, 0, 0);
                font-size: 15px;
                box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
                cursor: pointer;
                background-color: rgb(181, 66, 171);
            }
            
        }
        
            /*.contacto-info{
                background: $color-principal;
                h4{
                    text-align: center;
                    margin: 5px;
                    padding: 10px;
                }
                ul{
                    text-align: center;
                    margin: 0 0 1rem 0;
                    list-style: none;
                    padding: 10px;
                    li{
                        text-align: center;
                        margin: 0 0 1rem 0;
                        padding: .2em;
                        line-height: 30px ;
                        font-size:13px;
                        letter-spacing: 1px;
                    }
                }
                p{
                    text-align: center;
                    margin: 0 0 1rem 0;
                }
            }
        }*/
    }
}