/*catalogo*/
.main-catalogo{
    h1{
        @include titulo(center, uppercase, none, 40px 10px, 36px);
        /*color: $color-principal;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin:40px 0px;
        font-size: 36px;*/
    }
    .mySwiper{
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 50px 0;
        .swiper-wrapper{
            text-align: center;
            background-size: cover;
            background-position: center;
            .swiper-slide{
                width: auto;
                height: 550px;
                background-color: #323232;
                box-shadow:  0 0 20px rgba(238, 238, 238, 0.4);
                padding: 20px;
                text-align: center;
                justify-content: center;
                background-size: cover;
                background-position: center;
                .icons{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 40px;
                    i{
                        font-size: 20px;
                        color:white;
                    }
                    img{
                        display: flex;
                        width: 280px;
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }
}