/*contacto*/
.main-contacto{
    h2{
        @include titulo(center, uppercase, none, 40px 10px, 36px);
        /*color: $color-principal;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin:40px 0px;
        font-size: 36px;*/
    }
    .contenedor-contacto{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
        color: white;
        
        .contacto-wrapper{
            box-shadow: 0 0 20px 5px rgba(161, 160, 160, 0.3);
            .contact-form{
                background: #353535;
                h3{
                    text-transform: none;
                    text-align:left ;
                    margin: 5px;
                }
                form{
                    display:grid ;
                    grid-template-columns: 1fr 1fr;
                    .formulario{
                        margin: 0;
                        padding: 2em;
                        .msj, .boton{
                            grid-column: 1 / 2;
                        }
                        input,
                        textarea,
                        button{
                            width: 100%;
                            padding: .7em;
                            border: none;
                            background: none;
                            border-bottom: 1px solid #8f29fc;
                            outline: 0;
                            color: white;
                        }
                        button{
                            background: $color-principal;
                            border: 0;
                            text-transform: uppercase;
                            padding: 1em;
                            &:hover,
                            &:focus{
                                background: nth($list: $colores, $n: 3);
                                color: nth($list: $colores, $n: 4);
                                transition: background-color 1s ease-out;
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
            .contacto-info{
                background: $color-principal;
                h4{
                    text-align: center;
                    margin: 5px;
                    padding: 10px;
                }
                ul{
                    text-align: center;
                    margin: 0 0 1rem 0;
                    list-style: none;
                    padding: 10px;
                    li{
                        text-align: center;
                        margin: 0 0 1rem 0;
                        padding: .2em;
                        line-height: 30px ;
                        letter-spacing: 2px;
                    }
                }
                p{
                    text-align: center;
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
