/*inicio*/
.main-inicio{
    .contenedor-inicio{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .logo{
            max-width: 320px;
            margin-bottom: 20px;
            margin-right: 60px;
            margin-left: 60px;
            margin-top: 100px;
        }
        .frase{
            width: 350px;
            height: 160px;
            overflow: hidden;
            cursor: default;
            color: white;
            font-size:17px;
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 30px;
            text-align: center;
        }
        .bienvenida{
            h1{
                color: $color-principal;
                font-size: 40px;
                border-radius: 10px;
                font-weight: bold;
                font-family: $letra-general;
                cursor: default;
                margin-right: 3rem;
                margin-bottom: 30px;
                margin-top: 30px;
            }
        }
    }
}




