/*catalogo*/
.main-catalogo{
    h2{
        @include titulo(center, uppercase, none, 40px 10px, 36px);
        /*color: $color-principal;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin:40px 0px;
        font-size: 36px;*/
    }
    .carousel{
        width: 300px;
        height: auto;
        margin: 50px auto 0;
        padding: 15px;
        overflow: hidden;
        justify-items: center;
        flex-direction: column;
        &:hover{
            width: 350px;
            height: auto;
        }
        h3{
            font-size: 20px;
            text-align: center;
            color: rgb(255, 255, 255);
            margin:40px 10px;
        }
    }
}