/*contacto*/
.main-contacto{
    h1{
        @include titulo(center, uppercase, none, 40px 10px, 36px);
        /*color: $color-principal;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin:40px 0px;
        font-size: 36px;*/
    }
    .contenedor-contacto{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
        padding: 30px;
        form{
            padding: 15px;
            background-color:  rgba(117, 117, 117, 0.591);
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(253, 252, 252, 0.456);
            width: auto;
            text-align: left;
            display: flex;
            flex-direction: column;
            .form-group{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 20px;
                margin-bottom: 10px;
                .formulario{
                    display:flex;
                    flex-direction: column;
                    label{
                        color: rgb(255, 255, 255);
                        font-size: 12px;
                        margin-bottom: 10px
                    }
                }
            }
            label{
                color: white;
            }
            input, textarea{
                padding:12px 12px ;
                background-color:$color-principal;
                border: 0;
                border-radius: 16px;
                outline: none;
                color: rgb(0, 0, 0);
                font-size: 13px;
            }
            ::placeholder{
                color: rgb(0, 0, 0);
                font-size: 16px;
            }
            textarea{
                margin-bottom: 20px;
            }
            
            .btn{
                padding: 15px 15px;
                width: 130px;
                align-self: center;
                text-transform: capitalize;
                color: rgb(0, 0, 0);
                font-size: 16px;
                box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
                cursor: pointer;
                background-color: rgb(181, 66, 171);
            }
            
        }
    }
}