@media screen and (max-width:768px) {
    body.inicio{
    background-image:none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: rgb(39,12,83);
    background-position: center;
    justify-content: center;
    align-content: center;
    background-attachment: fixed;
    font-family:'Poppins', sans-serif;
    }
    
}
@media screen and (min-width:768px) {
    /*index*/
    main.inicio{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 50px;
        justify-content: right;
    }
    /*servicios*/
    .main-servicios{
        .contenedor-servicios{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 1500px;
        margin: auto;
        padding: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        flex-wrap: nowrap;
        }
    }
    /*galeria*/
    .contenedor-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-template-areas: 
        "img1 img4"
        "img1 img3"
        "img2 img2"
        "img2 img2"
        "img5 img6"
        "img5 img9"
        "img7 img7"
        "img8 img10"
        ;
    }

.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}
.img-6{
    grid-area: img6;
}
.img-7{
    grid-area: img7;
}
.img-8{
    grid-area: img8;
}
.img-9{
    grid-area: img9;
}
/*catalogo*/
.carousel {
    width:400px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
    &:hover{
        width: 450px;
        height: auto;
    }
}

/*contacto*/
.main-contacto{
    .contenedor-contacto{
        .contacto-wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
}

}

@media screen and (min-width:1024px) {
    /*index*/
    main.inicio{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 50px;
        justify-content: right;
    }
    /*servicios*/
    .main-servicios{
        .contenedor-servicios{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 1500px;
        margin: auto;
        padding: 50px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1, auto);
        flex-wrap: nowrap;
        }
    }
    /*galeria*/
    .contenedor-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30vh);
        grid-template-areas: 
        "img1 img4 img4"
        "img1 img3 img3"
        "img2 img2 img2"
        "img2 img2 img2"
        "img5 img5 img6"
        "img5 img9 img9"
        "img7 img7 img7"
        "img8 img10 img10"
        ;
    }

.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}
.img-6{
    grid-area: img6;
}
.img-7{
    grid-area: img7;
}
.img-8{
    grid-area: img8;
}
.img-9{
    grid-area: img9;
}


/*catalogo*/

.carousel {
    width:500px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
    &:hover{
        width: 500px;
        height: auto;
    }
}
/*contacto*/
.main-contacto{
    .contenedor-contacto{
        .contacto-wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
            }
        }
    }
}
