@media screen and (min-width:768px) {
    /*index*/
    .main-inicio{
        .contenedor-inicio{
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo{
                width: 400px;
                margin: 90px auto 0;
            }
            .frase{
                width: 600px;
                margin: 60px auto 0;
                overflow: hidden;
                cursor: default;
                color: white;
                font-size:17px;
                text-align: center;
                align-items: center;
            }
            .animacion-word{
                margin: 60px auto 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .letter{
                    transition: 0.4s;
                    transform: translateX(0);
                    color: $color-principal;
                    font-size: 50px;
                    font-weight: bold;
                    font-family: $letra-general;
                    cursor: default;
                    &:hover{
                        transform: translateY(-1rem);
                        background: -webkit-linear-gradient(100deg, hsl(292, 93%, 27%), hsl(0, 0%, 100%));
                        -webkit-background-clip: text ;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        h1 {
            font-size: 15px;
            padding: 10px;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            text-align: left;
        }
        .contenedor-cuadro{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
            margin: 20px;
            padding: 15px;
            justify-items: center;
            align-items: center;
            text-align: center;
            .iconos{
                display: flex;
                flex-direction: column;
                width: 180px;
                height: 100%;
                border-radius: 6px;
                border: 3px solid #ff0ce3;
                overflow: hidden;
                background-color: transparent;
                align-items: center;
                img{
                    margin: 10px;
                    width: 80px;
                    height: 100%;
                    object-fit: cover;
                }
                h2{
                    padding: 5px;
                    margin-top: 5px;
                    font-family: 'Poppins', sans-serif;
                    color: #ffffff;
                    font-size: 15px;
                }
            }
        }
    }
    /*servicios*/
    .main-servicios{
        .contenedor-servicios{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 1500px;
        margin: auto;
        padding: 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        flex-wrap: nowrap;
        .servicio{
            display: flex;
            flex-direction: column;
        }
        .servicio-texto {
            margin-top: auto;
        }
        }
    
    }
    /*galeria*/
    .main-galeria{
        .contenedor-grid{
            width: 100%;
        max-width: 1100px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
        .img-box{
            &:nth-child(1){
                grid-row-start: span 2 ;
            }
            &:nth-child(4){
                grid-column-start: span 2 ;
            }
            &:nth-child(6){
                grid-column-start: span 2 ;
            }
            &:nth-child(10){
                grid-column-start: span 2 ;
            }
            &:nth-child(7){
                grid-column-start: span 2 ;
            }
            &:nth-child(2){
                grid-row-start: span 2 ;
            }
            &:nth-child(3){
                grid-row-start: span 2 ;
            }
            figure{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        }
    }
    /*catalogo*/
    .main-catalogo{    
        .carousel {
        width:400px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        justify-items: center;
        flex-direction: column;
            &:hover{
                width: 450px;
                height: auto;
            }
        }
    }
    /*contacto*/
    .main-contacto{
        .contenedor-contacto{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50vh;
            padding: 40px;
            form{
                padding: 18px;
                background-color:  rgba(117, 117, 117, 0.591);
                border-radius: 8px;
                box-shadow: 0 0 20px rgba(253, 252, 252, 0.456);
                width: auto;
                text-align: left;
                display: flex;
                flex-direction: column;
                .form-group{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-gap: 25px;
                    margin-bottom: 10px;
                    .formulario{
                        display:flex;
                        flex-direction: column;
                        label{
                            color: rgb(255, 255, 255);
                            font-size: 15px;
                            margin-bottom: 10px
                        }
                    }
                }
                label{
                    color: white;
                }
                input, textarea{
                    padding:13px 13px ;
                    background-color:$color-principal;
                    border: 0;
                    border-radius: 20px;
                    outline: none;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                }
                ::placeholder{
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                }
                textarea{
                    margin-bottom: 25px;
                }
                
                .btn{
                    padding: 15px 15px;
                    width: 150px;
                    align-self: center;
                    text-transform: capitalize;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
                    cursor: pointer;
                    background-color: rgb(181, 66, 171);
                }
                
            }
        }
    }

}

@media screen and (min-width:1024px) {
    /*index*/
    .main-inicio{
        .contenedor-inicio{
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo{
                width: 500px;
                margin: 100px auto 0;
            }
            .frase{
                width: 800px;
                margin: 80px auto 0;
                overflow: hidden;
                cursor: default;
                color: white;
                font-size:17px;
                text-align: center;
                align-items: center;
            }
            .animacion-word{
                margin: 80px auto 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .letter{
                    transition: 0.4s;
                    transform: translateX(0);
                    color: $color-principal;
                    font-size: 60px;
                    font-weight: bold;
                    font-family: $letra-general;
                    cursor: default;
                    &:hover{
                        transform: translateY(-1rem);
                        background: -webkit-linear-gradient(100deg, hsl(292, 93%, 27%), hsl(0, 0%, 100%));
                        -webkit-background-clip: text ;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        h1 {
            font-size: 20px;
            padding: 10px;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            text-align: left;
        }
        .contenedor-cuadro{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, auto);
            gap: 2rem;
            margin: 20px;
            padding: 15px;
            .iconos{
                display: flex;
                flex-direction: column;
                width: 200px;
                height: 100%;
                border-radius: 6px;
                border: 3px solid #ff0ce3;
                overflow: hidden;
                background-color: transparent;
                align-items: center;
                img{
                    margin: 10px;
                    width: 90px;
                    height: 100%;
                    object-fit: cover;
                }
                h2{
                    padding: 5px;
                    margin-top: 5px;
                    font-family: 'Poppins', sans-serif;
                    color: #ffffff;
                    font-size: 15px;
                }
            }
        }
    }
    /*servicios*/
    .main-servicios{
        .contenedor-servicios{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 1500px;
        margin: auto;
        padding: 10px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1, auto);
        flex-wrap: nowrap;  
        }      
    }
    /*galeria*/
    .main-galeria{
        .contenedor-grid{
        width: 100%;
        max-width: 1500px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
        .img-box{
            &:nth-child(1){
                grid-row-start: span 2 ;
            }
            &:nth-child(4){
                grid-column-start: span 2 ;
            }
            &:nth-child(6){
                grid-column-start: span 3 ;
            }
            &:nth-child(10){
                grid-column-start: span 2 ;
            }
            &:nth-child(7){
                grid-column-start: span 2 ;
            }
            &:nth-child(2){
                grid-row-start: span 2 ;
            }
            &:nth-child(3){
                grid-row-start: span 2 ;
            }
            figure{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        }
    }
    /*catalogo*/
    .main-catalogo{    
        .carousel {
        width:500px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
        justify-items: center;
        flex-direction: column;
            &:hover{
                width: 550px;
                height: auto;
            }
        }
    }
    /*contacto*/
    .main-contacto{
        .contenedor-contacto{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60vh;
            padding: 40px;
            form{
                padding: 20px;
                background-color:  rgba(117, 117, 117, 0.591);
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(253, 252, 252, 0.456);
                width: 1000px;
                text-align: left;
                display: flex;
                flex-direction: column;
                .form-group{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-gap: 30px;
                    margin-bottom: 15px;
                    .formulario{
                        display:flex;
                        flex-direction: column;
                        label{
                            color: rgb(255, 255, 255);
                            font-size: 15px;
                            margin-bottom: 10px
                        }
                    }
                }
                label{
                    color: white;
                }
                input, textarea{
                    padding:15px 15px ;
                    background-color:$color-principal;
                    border: 0;
                    border-radius: 20px;
                    outline: none;
                    color: rgb(0, 0, 0);
                    font-size: 15px;
                }
                ::placeholder{
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                }
                textarea{
                    margin-bottom: 30px;
                }
                
                .btn{
                    padding: 17px 15px;
                    width: 180px;
                    align-self: center;
                    text-transform: capitalize;
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    box-shadow: 0 0 20px rgba(178, 174, 174, 0.607);
                    cursor: pointer;
                    background-color: rgb(181, 66, 171);
                }
                
            }
        }
    }
}