//variables
$color-principal: rgb(255, 17, 164);
$letra-general: 'Poppins', sans-serif;
//maps
$boton-primario: (
    color-primario:  rgb(103, 2, 121),
    border-primario: 1px solid rgb(47, 46, 48),
);
//listas
$colores:
rgb(255, 17, 164),
rgb(103, 2, 121),
#8f29fc,
#000000 ;