//variables
$color-principal: rgb(148,77,193);
$letra-general: 'Poppins', sans-serif;
//maps
$boton-primario: (
    color-primario:  rgb(255, 255, 255),
    border-primario: 1px solid rgba(0, 0, 0, 0.479),
);
//listas
$colores:
rgb(255, 17, 164),
rgb(103, 2, 121),
#8f29fc,
#000000 ;