footer {
    background-color: #270c53;
    background-image: linear-gradient(180deg, #270c53 0%, #bb539d 100%);
    padding: 0;
    text-align: center;
    margin-top: auto;
    height: auto;
    .contenedor-footer{
        .titulo-seccion{    
            color: rgb(177, 172, 172);
            display: flex;
            justify-content: center;
            font-size: 15px;
        }
    }
    .redes-sociales{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            a{
                i{
                    font-size: 30px;
                    padding: 0 20px;
                    color: rgb(177, 172, 172);
                    &:hover{
                        color: #270c53;
                    }
                }
            }
        }
    .contenedor-01{
        p .final{
            font-size: 25px;
            padding: 0 20px;
            color: rgb(255, 255, 255);
            }
        }
}
