//comentario en scss
/*header*/
header{
    .header-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    .nav-inicio {
        color: #f700ff;
        font-weight: bold;
        transition: none;
        &:hover{
            background-color:  #010101 ;
            border-radius: 20px 20px 20px 20px;
            padding: 2px 5px;
            transition: none;
        }
        nav{
            ul{
                li{
                    
                        a{
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: normal;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }   
        }
    }
    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: #f700ff;
        background-color: #f700ff;
        border: #ffffff(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
        border-radius: var(--bs-navbar-toggler-border-radius);
    }
    .menu-button{
        border: 0;
        &:focus{
            box-shadow: none;
        }
        
    }
}