//comentario en scss
/*header*/

    header {
    display: flex;
    justify-content: flex-start;
    align-items: first flex-start;
    padding: 15px;
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: #f700ff;
        font-weight:lighter;
        
        &:hover{
            background-color:  #fdfbfb;
            border-radius: 3rem;
            transform: none;
            transition: none;
            }
        div .container-fluid{
            .menu-button{
                span .navbar-toggler-icon, .menu-icon {
                    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
                    font-size: var(--bs-navbar-toggler-font-size);
                    line-height: 1;
                    color: #ffffff;
                    background-color: #f700ff;
                    border: 1px solid white;
                    border-radius: var(--bs-navbar-toggler-border-radius);
                    &:focus{
                        box-shadow: #f700ff;
                        }
                    }
                div .menu{
                    ul{
                        li{
                            a{
                                text-transform: uppercase;
                                text-decoration: none;
                                font-weight: normal;
                                color: rgb(255, 255, 255);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    