//comentario en scss
/*header*/
header {
    display: flex;
    justify-content: flex-start;
    align-items: first flex-start;
    padding: 50px;
    .navbar{
        background-color: rgba(255, 255, 255, 0.693);
        padding: 0.5rem;
        height: 80px;
        margin: 20px;
        border-radius: 16px;
        .navbar-brand{
            font-weight: 200;
            color: #f700ff;
            font-size: 30px;
            cursor: default;
            b{
                font-weight: 200;
            }
            &:hover{
                transition: 0.5s;
                color: #000000;
                font-weight: 600;
                b{
                    color: #A816FA;
                    transition: 0.5s;
                    font-weight: 600;
                }
            }
        }
        .navbar-toggler{
            border: none;
            font-size: 20px;
            background-color: #f700ff00;
            &:focus{
                box-shadow: none;
                outline: none;
            }
            &:hover{
                background-color: rgb(197, 36, 242);
                color: black;
            }
        }
        .navbar-nav .nav-link.active{
            color:  #f700ff ;
            font-weight: 600;
            font-size: 20px;
            padding: 15px;
            &:hover{
                color:  #ffffff;
                font-size: 25px;
                transition: 0.4s;
                -webkit-text-stroke: 0.5px black
            }
        }
        .offcanvas{
        background-color: rgba(88, 69, 94, 0.726);
        h5{
            color: white;
        }
        }
    }
}




    /*header {
    display: flex;
    justify-content: flex-start;
    align-items: first flex-start;
    padding: 15px;
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: #f700ff;
        font-weight:lighter;
        
        &:hover{
            background-color:  #ffffff;
            border-radius: 20px;
            }
        .container-fluid{
            a{
                img{
                    width: 20px;
                }
            }
            .navbar-toggler{
                padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
                font-size: var(--bs-navbar-toggler-font-size);
                line-height: 1;
                color: #f700ff;
                background-color: #f700ff;
                border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
                border-radius: var(--bs-navbar-toggler-border-radius);
                transition: var(--bs-navbar-toggler-transition);
                }
                div .menu{
                    ul{
                        li{
                            a{
                                text-transform: uppercase;
                                text-decoration: none;
                                font-weight: normal;
                                color: rgb(255, 255, 255);
                                }
                            }
                        }
                    }
                }
            }
        }
*/
    